html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
  list-style: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
div#main-contents {
  padding: 30px 30px 0;
}
.wrapper {
  margin: 0;
  height: 648px;
  width: 1280px;
  overflow: hidden;
  font-size: 24px;
  background-color: #f7f7f7;
  color: #2d2d2d;
}
h1 {
  font-size: 28px;
  margin-bottom: 16px;
  margin-left: 36px;
}
.header_line {
  border-top: 1px solid #2d2d2d;
}
h3 {
  color: #808080;
  font-size: 16px;
  text-align: right;
  margin-right: 60px;
}
a {
  display: block;
  text-decoration: none;
  width: 580px;
  height: 106px;
  border-top: 1px solid rgba(128, 128, 128, 0.27);
  border-bottom: 1px solid rgba(128, 128, 128, 0.27);
}
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 34px;
  height: 34px;
  border: 2px solid #808080;
  vertical-align: middle;
}
#select .logout_button {
  font-size: 16px;
  width: 200px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  border: solid 2px #2d2d2d;
  border-radius: 4px;
  color: #2d2d2d;
  background-color: transparent;
  margin: 10px 0 25px 350px;
}
#post .button {
  font-size: 16px;
  width: 260px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  border: solid 2px #2d2d2d;
  border-radius: 4px;
  color: #2d2d2d;
  background-color: transparent;
  margin: 20px 0 20px 900px;
}
.contribution .connect_save {
  font-size: 18px;
  text-align: right;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.connect_save span {
  vertical-align: middle;
}
.connect_save.special {
  margin-top: 16px;
}
.select_contents {
  margin: 0;
}
h1.complete {
  color: #2d2d2d;
  text-align: center;
  margin: 180px 0 14px;
}
.complete img {
  margin-right: 52px;
}
h1.complete img {
  margin-right: 10px;
}
.contribution {
  display: block;
  width: 550px;
  margin: 30px 335px 20px;
}
.contribution a {
  width: 550px;
}
.screenshot img {
  margin: 58px 70px 0 0;
  position: absolute;
}
.multipost {
  width: 234px;
  height: 132px;
  margin: 0 5px 5px 0;
  background-color: #2d2d2d;
  float: left;
  line-height: initial;
}
.multipost-preview-anchor {
  width: auto;
  height: 132px;
  margin: 0;
  border-top: 0;
  border-bottom: 0;
  background-color: transparent;
}
.fullscreen {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 1280px !important;
  height: 720px !important;
  z-index: 2147483647 !important;
  border: 0 !important;
  margin: 0 !important;
}
.key-handler {
  position: fixed;
  top: -50px;
  left: -50px;
  width: 1px;
  height: 1px;
  z-index: 2147483647;
}
.fullscreen-background-color {
  background-color: #2d2d2d !important;
}
.vertical {
  padding: 0;
}
.vertical img {
  position: relative;
  top: 29px;
  left: 51px;
  width: 132px;
  transform: rotateZ(90deg);
}
.vertical-fullscreen {
  position: fixed !important;
  top: 157.5px !important;
  left: 280px !important;
  width: 720px !important;
  height: auto !important;
  z-index: 2147483647 !important;
  border: 0 !important;
  margin: 0 !important;
}
.blank {
  background-color: #e0e0e0;
}
.screenshot img.video-play-ico {
  margin: 0;
  position: absolute;
  top: 99px;
  left: 204px;
}
.preview-block {
  position: absolute;
  width: 480px;
  height: 270px;
  margin: 58px 70px 0 0;
}
a.single-preview {
  width: 0;
  height: 0;
  border: none;
}
a.touch-disabled {
  pointer-events: none;
}
button.touch-focus-border-disabled {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div.multi {
  position: absolute;
  width: 480px;
  height: 270px;
  margin: 58px 70px 0 0;
  border: none;
}
img.multi {
  margin: 0;
  vertical-align: bottom;
}
.screenshot img.single-preview,
.screenshot_multi img.multi {
  margin: 0;
}
.contents.complete .screenshot img {
  margin: 0 70px 0 0;
}
.profile p {
  display: inline-block;
  font-size: 24px;
  color: #2d2d2d;
  width: 390px;
  white-space: nowrap;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.share-link img {
  display: inline-block;
  float: left;
  margin: 24px 34px;
}
span.index {
  display: inline-block;
  color: #2d2d2d;
  margin: 38px 0 30px;
  width: 386px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
p.complete {
  font-size: 20px;
  color: #808080;
  text-align: center;
}
.twitter-color {
  color: #55acee;
}
.facebook-color {
  color: #3b5998;
}
.profile.login {
  display: table-cell;
  width: 500px;
  height: 520px;
  text-align: center;
  vertical-align: middle;
}
.contents.upload {
  display: table;
  width: 1100px;
  height: 464px;
  margin: 0 60px;
}
.screenshot,
.screenshot_multi {
  display: table-cell;
}
.comment {
  display: table-cell;
  width: 560px;
  color: #808080;
  vertical-align: middle;
  word-break: break-all;
}
.comment.special {
  display: table-cell;
  width: 560px;
  color: #808080;
  vertical-align: top;
  word-break: break-all;
}
.comment.complete {
  vertical-align: top;
}
.comment_form {
  margin-top: 0px;
  width: 560px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.sns_icon {
  display: table-cell;
  vertical-align: bottom;
}
.sns_icon img {
  display: block;
  margin-right: 20px;
}
.name {
  display: table-cell;
  vertical-align: middle;
}
p.twitter_username {
  font-size: 18px;
  margin-top: 6px;
}
.sns_username img {
  display: block;
}
textarea {
  resize: none;
  border: none;
  width: 510px;
  height: 160px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 4px;
  padding: 20px;
}
textarea.special {
  resize: none;
  border: none;
  width: 510px;
  height: 120px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 4px;
  padding: 20px;
}
.characters {
  color: #3250f0;
  font-size: 20px;
  text-align: -webkit-right;
}
.characters.exceeded {
  color: #ff1800;
}
input.submit_button.facebook {
  border: 0px;
  width: 550px;
  height: 70px;
  background-color: #3b5998;
  font-size: 24px;
  color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
input.submit_button.twitter {
  border: 0px;
  width: 550px;
  height: 70px;
  background-color: #55acee;
  font-size: 24px;
  color: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.ok .submit_button {
  border: 0px;
  width: 300px;
  height: 70px;
  background-color: #3250f0;
  font-size: 24px;
  color: #fff;
  border-radius: 4px;
  margin: 50px 460px 0;
}
input.submit_button:disabled {
  color: #c8c8c8;
  background-color: #ebebeb;
}
.sub-text {
  padding: 0 1em 0 0.5em;
  font-size: 16px;
  line-height: 1.6em;
  color: #2d2d2d;
}
.error h2 {
  font-size: 18px;
  color: #808080;
  margin-bottom: 30px;
}
.error a {
  width: 230px;
  height: 50px;
  color: #2d2d2d;
  display: block;
  border-top: none;
  border-bottom: none;
}
.error .ok {
  border: 0px;
  width: 210px;
  height: 30px;
  padding: 10px;
  border: solid 2px #2d2d2d;
  border-radius: 4px;
  color: #2d2d2d;
  margin: 0;
  text-align: center;
}
.contents.complete {
  display: table;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 266px;
  padding: 30px;
  margin: 0 60px 0;
}
.checkmark {
  display: table-cell;
}
.comment_fix {
  color: #808080;
}
div#setting {
  padding: 30px 30px 0;
}
.contents-box {
  margin: 50px 190px 0;
}
.state {
  display: inline-block;
  width: 450px;
  height: 60px;
  margin-left: 40px;
}
.state p {
  display: inline-block;
  margin-top: 14px;
  width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#setting .form.button.connect {
  border: solid 0px;
}
#setting .button.connect {
  font-size: 24px;
  width: 300px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  border: solid 2px #3250f0;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background-color: #3250f0;
}
#setting .button.disconnect {
  font-size: 24px;
  width: 300px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  border: solid 2px #2d2d2d;
  border-radius: 4px;
  text-align: center;
  color: #2d2d2d;
  background-color: transparent;
}
p.sub-text {
  font-size: 18px;
  color: #828ca0;
  margin-top: 5px;
}
.sns {
  border-top: 1px solid rgba(128, 128, 128, 0.27);
  padding: 30px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.27);
}
.first {
  border-bottom: none;
}
.state img.connected {
  margin: 0 0 0 8px;
  clear: both;
  float: initial;
}
p.connected {
  font-size: 18px;
  color: #3251f0;
  margin-top: 5px;
}
.player {
  text-align: right;
  margin: 20px 60px 0 0;
  font-size: 18px;
}
.player span {
  vertical-align: middle;
}
img.user-icon {
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 28px;
}
.state img {
  float: left;
  margin-right: 30px;
}
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  opacity: 0.7;
  z-index: 1;
}
#loader {
  position: absolute;
  top: 335px;
  left: 615px;
  z-index: 2;
}
